:host {
    display: flow-root;

    ul {
        display: flex;
        list-style: none;
        justify-content: flex-end;
        gap:30px;
        flex-direction: column;
        height: 500px;
    }
}

